.login__img .svg2 .st0 {
  fill: #9a3b82;
}
.login__img .svg2 .st1 {
  fill: #ffcf2d;
}
.login__img .svg2 .st2 {
  fill: #ffffff;
  stroke: #ffcf2d;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st3 {
  fill: none;
  stroke: #ffcf2d;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st4 {
  fill: #66b0f0;
  stroke: #ffcf2d;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st5 {
  fill: #fe5244;
}
.login__img .svg2 .st6 {
  fill: #a0505a;
}
.login__img .svg2 .st7 {
  fill: #73325a;
}
.login__img .svg2 .st8 {
  fill: none;
  stroke: #73325a;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st9 {
  fill: none;
  stroke: #ffcf2d;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st10 {
  fill: #ffffff;
}
.login__img .svg2 .st11 {
  fill: none;
  stroke: #9a3b82;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st12 {
  fill: #66b0f0;
}
.login__img .svg2 .st13 {
  fill: #3fb1b5;
}
.login__img .svg2 .st14 {
  fill: none;
  stroke: #66b0f0;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st15 {
  fill: none;
  stroke: #fe5244;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st16 {
  fill: none;
  stroke: #fe5244;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st17 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st18 {
  fill: #e57281;
}
.login__img .svg2 .st19 {
  fill: none;
  stroke: #9a3b82;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st20 {
  fill: #66b0f0;
  stroke: #ffffff;
  stroke-width: 6;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st21 {
  fill: #ffffff;
  stroke: #fe5244;
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.login__img .svg2 .st22 {
  fill: none;
  stroke: #73325a;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
